# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Intelij

*.iml
*.idea
out/*

#VSCode
*.vscode
*.project
*bin
*.settings
*.classpath
*.code-workspace

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#Database connection config
*/databaseConnection.json

#Stupid files that were previously here, and keep reappearing
resources/*
data/*
metadata/*
.gitattributes
*/databaseConnection.json